<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>MohammedSami</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description></description>
    <param-name>phone</param-name>
    <param-value>01069484817</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>NewServlet</display-name>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>Servlets.NewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/NewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomServlet</display-name>
    <servlet-name>WelcomServlet</servlet-name>
    <servlet-class>Servlets.WelcomServ</servlet-class>
    <init-param>
      <description></description>
      <param-name>email</param-name>
      <param-value>mshelal555@gmail.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServ</display-name>
    <servlet-name>TestServ</servlet-name>
    <servlet-class>Servlets.TestServ</servlet-class>
    <init-param>
      <description></description>
      <param-name>name</param-name>
      <param-value>mshelal555@gmail.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServ</servlet-name>
    <url-pattern>/TestServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServ</display-name>
    <servlet-name>RegServ</servlet-name>
    <servlet-class>Servlets.RegServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServ</servlet-name>
    <url-pattern>/RegServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowData</display-name>
    <servlet-name>ShowData</servlet-name>
    <servlet-class>Servlets.ShowData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowData</servlet-name>
    <url-pattern>/ShowData</url-pattern>
  </servlet-mapping>
</web-app>